altgraph==0.17.5
certifi==2026.5.20
charset-normalizer==3.4.7
evdev==1.9.3
idna==3.16
mss==10.2.0
packaging==26.2
pillow==12.2.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pynput==1.8.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.19
PyQt5_sip==12.18.0
python-xlib==0.33
qasync==0.28.0
requests==2.34.2
setuptools==82.0.1
six==1.17.0
urllib3==2.7.0
